body{
	font-family: roboto;
	overflow: hidden;
	background-image: url(https://i.pinimg.com/originals/e2/17/9b/e2179b2d160f3b3ee9ab473cc615563c.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position:  center center;
	height: 100vh;
}

.wrapper{
	width: 550px;
	height: 450px;
	border-radius: 10px;
	background: rgb(0,0,0,0.7);
	margin: 60px auto;
	text-align: center;
	position: relative;
	z-index: 9999;
	
}
.wrapper .icon-area{
	margin-top: 5px;
	width: 100%;
	height: 115px;
	columns: #fff;
	font-size: 20px;
}

.icon-area span{
	width: 60px;
	height: 60px;
	display: inline-block;
	margin-top: 20px;
}

.icon-area span i{
	font-size: 45px;

}

.wrapper .login-area{
	width: 450px;
	margin: 5px auto;

}


.wrapper .btn-area{
	height: 45px;
	width: 100%;
	background-color: #fa0e60;
	border-radius: 50px;
	position: relative;
	line-height: 45px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	margin-top: 10px;
	cursor: pointer;
}

.wrapper input{
	border-radius: 50px;
	font-size: 15px;
	height: 45px;
	border: none;
	padding-left: 15px;
	width: calc(100% - 15px);
	margin-bottom: 30px;
	outline:none;

}
.wrapper .link-area{
	margin-top: 30px;
	font-size:16px;


}

.link-area a{
	text-decoration: none;
	color: #ffffff;
	vertical-align: middle;
	margin-right: 5px;
	color: #616973;
}
canvas{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: -1;
}